.productos-container{
    height: 60vh;
    width: 75%;
    margin: 0 auto;
    background: #FFFFFF;
    overflow: hidden;
}

.productos-container .title{
    height: auto;
    margin-left: 1em;
    margin-top: 1em;
}


.productos-container .title .brder-bottom{
    border-top: 5px solid #C0C0C0;
    width: 50px;
}

.productos-container .productos-zone{
    width: 100%;
    min-height: 70%;
    max-height: 85%;
    margin-top: 1em;
    padding: 0.5rem;
}

@media screen and (max-width: 980px) {
   
    .productos-container{
        width: 100%;
    }
  }